  .superadmin_whatsapp_peer_list_container {
    width: 100%;
    height: 100%;
    padding-bottom: 131px;
  }

  .superadmin_whatsapp_peer_list_container_table_search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 16px;
    gap: 30px;
  }

  .superadmin_whatsapp_peer_list_container_action_conatiner {
    width: 100%;
    display: flex;
    gap: 10px;
  }

 
  .superadmin_whatsapp_peer_modal_header_container {
  width: 100%;
  height: 83px;
  padding: 24px 32px;
  background-color: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.superadmin_whatsapp_peer_modal_header {
  font-family: var(--segoe);
  font-weight: 700;
  font-size: var(--font-xxxl);
}

.superadmin_whatsapp_peer_action_conatiner {
  width: 100%;
  display: flex;
  gap: 10px;
}

.superadmin_whatsapp_peer_action_container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.superadmin_whatsapp_peer_modal_form {
  width: 100%;
  height: 100%;
  padding: 32px;
  overflow-x: scroll;
}

.superadmin_whatsapp_peer_modal_form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 25px;
}

.superadmin_whatsapp_peer_modal_form_group {
  display: flex;
  flex-direction: column;
}