.agent_queue_missed_call_report {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.agent_queue_missed_call_report_container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 31px 30px 190px 30px;
}

.agent_queue_missed_call_report_filter_container {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 32px;
  gap: 15px;
}

.agent_queue_missed_call_report_filter_clear_button {
  background-color: transparent;
  border: none;
  color: #2563eb;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--sengo-ui-font-family);
  text-decoration: underline;
  cursor: pointer;
}
