.carrier_container {
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.carrier_header {
    width: 100%;
    background-color: var(--navbar_background_color);
    border-bottom: 0.5px solid var(--navbar_border_color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;
}

.carrier_heading {
    font-size: var(--normal_font_size);
    font-weight: 500;
    color: var(--black_font_color);
}


.carrier_header_input {
    display: flex;
    gap: 10px;
}

.carrier_search_input {
    width: 250px;
}

.add_carrier_btn_icon {
    font-size: var(--btn_font_size);
}

.add_carrier_form {
    height: auto;
    /* padding: 10px; */
}

.create_carrier_layout {
    display: flex;
    justify-content: space-between;
}

.create_carrier_layout_last {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.carrier_filter_section {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.carrier_filters {
    display: flex;
    gap: 16px;
}

.carrier_edit_icon {
    color: var(--secondary_color);
    font-size: var(--btn_font_size);
    margin-right: 10px;
}

.carrier_deletes_icon {
    color: red;
    font-size: var(--btn_font_size);
}