.forgot-pass {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-pass-card {
  width: 586px;
  min-height: 541px;
  background-color: #ffffff;
  padding: 60px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.forgot-pass-logo {
  width: 134px;
  height: 89px;
  align-self: center;
}

.forgot-pass-heading {
  font-family: var(--Inter-font-family);
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
  text-align: center;
}

.forgot-pass-subheading {
  font-family: var(--Inter-font-family);
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  margin-bottom: 35px;
  text-align: center;
}

.forgot-pass-stepper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 17px;
}

.forgot-pass-step {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: #cbcbcb;
  position: relative;
  font-family: var(--Roboto-font-family);
}

.forgot-pass-step::before {
  content: attr(data-step);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #cbcbcb;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #cbcbcb;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--Roboto-font-family);
}

.forgot-pass-step.forgot-pass-step-active {
  color: var(--primary-color);
  font-weight: 700;
}

.forgot-pass-step.forgot-pass-step-active::before {
  border-color: var(--primary-color);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--primary-color);
}

.forgot-pass-step:nth-of-type(2)::before {
  content: "2";
}

.forgot-pass-step:nth-of-type(3)::before {
  content: "3";
}

.forgot-input-group {
  display: flex;
  flex-direction: column;
}

.forgot-pass-input-group {
  margin-bottom: 24px;
}

.forgot-input-label {
  font-family: var(--sengo-ui-font-family);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #000000de;
}

.forgot-email-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #334155;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  color: #0f172a;
  font-family: var(--sengo-ui-font-family);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.forgot-email-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.forgot-pass-continue-btn {
  height: 40px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-family: var(--sengo-ui-font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

.forgot-pass-card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.signin-text {
  font-family: var(--sengo-ui-font-family);
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: #8f8f8f;
}

.signin-btn {
  font-family: var(--sengo-ui-font-family);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
.forgot-pass-email-display-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.forgot-pass-email-display {
  display: flex;
  gap: 6px;
  align-items: center;
}
.forgot-pass-email-display-name {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--sengo-ui-font-family);
  color: #000000de;
  line-height: 124%;
}
.forgot-pass-email-display-name-edit {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--sengo-ui-font-family);
  color: var(--primary-color);
  text-decoration: underline;
}

.forgot-pass-email-code-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.forgot-pass-email-code-input-label {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--sengo-ui-font-family);
  color: #0f172a;
  line-height: 150%;
  margin-bottom: 2px;
}

.forgot-pass-email-code-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #334155;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  color: #0f172a;
  font-family: var(--sengo-ui-font-family);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.forgot-pass-email-code-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.forgot-pass-reset-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.forgot-pass-reset-label {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--sengo-ui-font-family);
  color: #0f172a;
  line-height: 150%;
  margin-bottom: 2px;
}

.forgot-pass-reset-input-wrapper {
  position: relative;
}

.forgot-pass-input {
  width: 100%;
  padding: 10px;
  padding-right: 50px;
  border: 1px solid #334155;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  color: #0f172a;
  font-family: var(--sengo-ui-font-family);
  font-size: 14px;
  font-weight: 400;
}

.forgot-pass-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.forgot-pass-strength-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  margin-bottom: 15px;
}
.forgot-pass-step-process {
  width: 100%;
  height: 6px;
  background-color: #e0e0e0;
}

.forgot-pass-step-process.forgot-pass-step-process-filled {
  background-color: #16a34a;
}

.forgot-pass-step-strength-label {
  font-family: var(--sengo-ui-font-family);
  font-weight: 700;
  font-size: 12px;
}

.forgot-pass-step-strength-label.weak {
  color: red;
}

.forgot-pass-step-strength-label.good {
  color: orange;
}

.forgot-pass-step-strength-label.strong {
  color: #16a34a;
}
.password-rules-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 21px;
}

.forgot-pass-tick-icon {
  width: 12px;
  height: 9px;
  margin-right: 8px;
  vertical-align: middle;
}

.forgot-pass-error-icon {
  width: 20px;
  height: 20px;
}

.password-rules {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: var(--sengo-ui-font-family);
  font-size: 12px;
  font-weight: 400;
}

.forgot-pass-valid {
  color: #334155;
}
.forgot-pass-unvalid {
  color: #b91c1c;
}

.forgot-pass-reset-reinput-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.forgot-pass-eye-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.forgot-pass-arrow-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
