.agent_reports {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.agent_reports_container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: start;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: 6fr 3fr 3fr;
  padding: 33px;
  gap: 24px;
}


.agent_reports_sites_container_1 {
  width: 100%;
  min-height: 285px;
  background-color: var(--bg-white);
  border-radius: var(--radius-md);
  padding: 16px;
}

.agent_reports_sites_header_container {
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.agent_reports_sites_header {
  font-weight: 700;
  font-size: var(--font-lg);
  color: var(--color-deep-ocean-blue);
  font-family: var(--lato);
  padding-bottom: 10px;
  margin-left: 10px;
}

.agent_reports_sites_container_1_body_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  gap: 10px;
}



.agent_reports_sites_items_conainer {
  width: 100%;
  background-color: var(--bg-porcelain);
  height: 44px;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 15px;
  cursor: pointer;
  color: var(--color-deep-sea-blue);
}

.agent_reports_sites_items_conainer:hover {
  color: var(--color-primary);
  background-color: var(--bg-orange-light);
}

.agent_reports_sites_items_text {
  font-size: var(--font-sm);
  font-weight: 500;
  font-family: var(--lato);
}

.agent_reports_sites_container_2,
.agent_reports_sites_container_3 {
  width: 100%;
  min-height: 285px;
  background-color: var(--bg-white);
  border-radius: var(--radius-md);
  padding: 16px;
}

.agent_agent_reports_sites_container_2_body_container,
.agent_reports_sites_container_3_body_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  gap: 10px;
}