asyncmy==0.2.9
bcrypt==4.2.1
fastapi==0.115.5
passlib==1.7.4
PyJWT==2.10.1
PyMySQL==1.1.1
SQLAlchemy==2.0.36
uvicorn==0.32.1
phonenumbers>=8.13.0
APScheduler==3.10.4
pydantic-settings==2.6.1
aiokafka==0.12.0
motor==3.6.0
boto3==1.34.14