.navbar {
  width: 100%;
  height: 90px;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
  overflow: hidden;
}

.navbar_heading {
  font-family: var(--segoe);
  font-size: var(--font-xxxl);
  font-weight: 700;
  color: var(--color-midnight-blue);
}

.navbar_beadcrum_conatiner {
  width: 100%;
  display: flex;
  gap: 8px;
}

.navbar_breadcrumb_link {
  font-family: var(--segoe);
  font-size: var(--font-sm);
  font-weight: 700;
  color: var(--color-slate-blue);
  cursor: pointer;
}

.navbar_breadcrum_icon {
  width: 8px;
  height: 12px;
  margin-left: 10px;
}

.navbar_breadcrumb_text {
  font-family: var(--segoe);
  font-size: var(--font-sm);
  color: var(--color-primary);
  font-weight: 700;
}