.custom-tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  font-size: var(--font-xs);
  font-weight: 700;
  border-radius: var(--radius-md);
  gap: 5px;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.custom-tag-icon {
  display: flex;
  align-items: center;
}
